@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap"); //  font-family: "Exo", sans-serif;

body {
  font-family: "Exo", sans-serif;
}

$font-small: 14px;
$font-regular: 18px;
$font-large: 40px;
$font-mainHeading: 80px;
