main {
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}

.hero {
  background-color: $bg-hero;
  display: flex;

  div:nth-child(1) {
    text-align: center;
    width: 50%;
    margin: auto;
  }

  div:nth-child(2) {
    max-width: 50%;
  }

  h1 {
    @include mainHeading;
  }

  button {
    margin-top: 2rem;
  }

  p {
    margin-block: 3rem;
    font-size: $font-large;
    font-style: italic;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
